*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: bisque;
} 

p{
    margin: 6rem;
    padding: 5rem;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}